.set-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.rm-mbp {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.center-origin {
    transform: translate(-50%, -50%);
}

/*Component text styles for within box*/
.comp-title-h1 {
    font-size: 20px;
    font-weight: 700;
    color: #172f34;
    text-align: center;
}

/* Make container fill up rest of page */

.page-view {
    flex-grow: 1;
}

.set-scroll {
    overflow-y: scroll;
}